:root {
  --primary-font:"Momo Trust Display", sans-serif;
  --secondary-font:"Merriweather", serif;
  --section-color: #F6F6F4;
  --main-color: #780000;
  --text-color: #333;
}

body {
  font-family: var(--secondary-font);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #748182;
}
a:visited{
  text-decoration: none;
  color: #748182;
} 
@keyframes floatY {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

@keyframes floatX {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(5px); }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

section.active.home { animation: floatY 6s ease-in-out infinite; }
section.active.about { animation: floatX 6s ease-in-out infinite; }
section.active.services { animation: pulse 5s ease-in-out infinite; }
section.active.gallery { animation: floatY 7s ease-in-out infinite; }
section.active.contact { animation: floatX 6s ease-in-out infinite; }

/* Navbar */
.navbar {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.navbar.scrolled {
  background-color: #fff !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled img{
    filter: brightness(1) invert(0);
}
.navbar.hidden {
  transform: translateY(-100%);
}
.navbar-brand img {
  width: 180px;
  z-index: 200;
  filter: brightness(0) invert(1);
}

.nav-link {
  color: #fff !important;
  font-weight: 800;
  position: relative;
  transition: color 0.3s;
}
.navbar.scrolled .nav-link {
  color: #333 !important;
}

.navbar.scrolled .nav-link:hover {
  color: var(--main-color) !important;
}
.navbar:hover {
  transform: translateY(0);
}

.nav-link:hover {
  color: #fdf0d5 !important;
  transition: 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--main-color);
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* language button */
.lang-btn {
  font-weight: 600;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
}
.lang-btn:hover{
  background-color: #C1121F;
  color: white;
}

/* Carousel */
.carousel-item img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-caption h1,
.carousel-caption p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
.btn-slider{
  background-color: var(--main-color);
  transition: all 0.5s ease;
}

.btn-slider:hover{
  background-color: #C1121F;
}
/* text animation */
.animate-text {
  animation: fadeSlide 2s ease-in-out infinite alternate;
}

@keyframes fadeSlide {
  from {
    opacity: 0.5;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Responsive */
@media (max-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }

  .nav-link {
    font-size: 14px;
  }

  .carousel-caption h1 {
    font-size: 22px;
  }
}


/* about style */

.about{
   margin-top: 40px;
}
.about-img img {
  transition: transform 0.4s ease;
  cursor: pointer;
  height: 450px;
}

.about-img img:hover {
  transform: scale(1.05);
}

.text-main {
  color: var(--main-color);
}

.about-text p {
  color: #333333;
  line-height: 2;
  font-size: 1.2rem;
}

.about .btn {
  border-radius: 25px;
  background-color: var(--main-color);
  color: white;
  transition:all 0.3s ease;
}

.about .btn:hover {
  background-color: #C1121F;
}

/* reveal animation */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
/* services section */
.services {
  background-color: #f8f9fa;
}

.services h2 {
  color: #333;
  font-weight: 700;
}

.text-main {
  color: var(--main-color);
}

.services-item {
  background: #fff;
  border-radius: 25px 0px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
  text-align: center;
}

.services-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  cursor: pointer;
}

.services-item .icon i {
  color: var(--main-color);
  transition: transform 0.3s ease;
}

.services-item:hover .icon i {
  transform: scale(1.2);
}

.services-item h5 {
  color: #333;
  margin-bottom: 10px;
}

.services-item p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 0;
}

.services .row > .col-lg-3:nth-child(odd) .services-item {
  background-color: #e9ecef;
}

@media (max-width: 767px) {
  .services-item {
    border-radius: 20px;
  }
  .services-item p {
    font-size: 0.9rem;
  }
}
/* project style */
.projects-section {
  background-color: #f9f9f9;
  padding-bottom: 80px;
}

.section-title {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s ease;
  height: 300px; 
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: all 0.4s ease;
}

.project-card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(120, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-weight: 700;
  font-size: 18px;
}

.project-card:hover .overlay {
  opacity: 1;
}


.carousel-indicators {
  position: absolute;
  bottom: -60px; 
}

.carousel-indicators [data-bs-target] {
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* galeery section */

.gallery {
  background-color: #fff;
}

.gallery .title h3 {
  font-size: 2rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}

.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.gallery-item img {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* Overlay */
.gallery-item .overlay {
  position: absolute;
  inset: 0;
  background-color:rgba(73, 72, 72, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item .overlay i {
  color: #fff;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.gallery-item:hover .overlay i {
  transform: scale(1.2);
}

/* contact style */
.contact {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/contact.jpg) center/cover;
  position: relative;
}

.contact .title h3 {
  font-size: 2.2rem;
  position: relative;
}

.contact .title h3::after {
  content: "";
  width: 70px;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 15px;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px rgba(120, 0, 0, 0.3);
  outline: none;
}

/* Button */
.btn-main {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 25px;
  transition: all 0.3s;
}

.btn-main:hover {
  background-color: #5e0000;
  transform: translateY(-2px);
}

/* Map Styling */
.map iframe {
  border-radius: 15px;
  min-height: 350px;
  filter: grayscale(20%) brightness(95%);
  transition: 0.3s ease;
}

.map iframe:hover {
  filter: grayscale(0%) brightness(100%);
}

/* Contact Icons */
.inner .circule {
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.inner .circule:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(120, 0, 0, 0.3);
}

/* Responsive */
@media (max-width: 768px) {
  .map iframe {
    min-height: 300px;
  }
  .contact-form {
    text-align: center;
  }
}


/* footer style */
/* ===== Footer Section ===== */
.footer {
  background-color: #111; /* خلفية داكنة أنيقة */
  color: #ddd;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 1.8;
}

.footer img {
  max-width: 180px;
  filter: brightness(0) invert(1);
}

.footer .text-main {
  color: #780000; /* اللون الرئيسي */
}

.footer p {
  margin-bottom: 10px;
  color: #ccc;
}

.footer h5 {
  color: #fff;
  font-weight: 600;
  position: relative;
}

.footer h5::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #780000;
  margin-top: 8px;
  border-radius: 5px;
}

/* ===== Links ===== */
.footer a {
  color: #ccc;
  transition: 0.3s;
}

.footer a:hover {
  color: #780000;
}

/* ===== Social Icons ===== */
.footer .social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: 0.3s;
}

.footer .social-icons a:hover {
  background-color: #780000;
  transform: translateY(-4px);
}

.footer .social-icons i {
  font-size: 16px;
}
.footer-links ul li{
  transition: 0.3s;
}

.footer-links ul li a:hover{
color: var(--main-color) !important;
}
.footer-links ul li:hover{
transform: translateY(-4px);
}
/* ===== Divider Line ===== */
.footer hr {
  border-color: rgba(255, 255, 255, 0.1);
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer h5::after {
    margin: 8px auto;
  }

  .footer .social-icons {
    justify-content: center;
  }

  .footer .footer-links ul {
    align-items: center;
  }
}


html, body {
  overflow-x: hidden;
}
